body {
	background: #f8f8f8;
	color: #606060;
	font-family: 'Proxima', sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}
html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	text-align: center;
	vertical-align: middle;
}
@font-face {
	font-family: 'Proxima';
	src: url(../fonts/ProximaNova-Regular.otf);
}
@font-face {
	font-family: 'Proxima Bold';
	src: url(../fonts/ProximaNova-Bold.otf);
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Proxima";
}
p {
	line-height: 28px;
}
hr {
	border-color: #e0e0e0;
	margin: 0 auto 20px auto;
	width: 100px !important;
}
h1 {
	font-size: 60px;
}
h2 {
	font-size: 48px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}

.container-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width: 768px) {
	.container-inner {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container-inner {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container-inner {
		width: 1400px;
	}
}

.title {
	padding-bottom: 40px;
}

.title h2 {
	color: #202020;
	padding-bottom: 30px;
}

.title p {
	padding-top: 14px;
}

.parallax-section {
	background-attachment: fixed !important;
	background-size: cover !important;
}

/* preloader section */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: none repeat scroll 0 0 #fff;
	background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-rotating-plane.sk-spinner {
	width: 40px;
	height: 40px;
	background-color: #d9b332;
	border-radius: 50%;
	-webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
	animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@keyframes sk-rotatePlane {
0% {
-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
transform: perspective(120px) rotateX(0deg) rotateY(0deg);
}
50% {
-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
}
100% {
-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
}
}

/* home section */
#home {
	background: url('../images/home-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

#home .home-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#home h1 {
	color: #ffffff;
}

#home h2 {
	color: #ffffff;
	letter-spacing: 2px;
}

#home h5 {
	color: #ffffff;
}

#home .btn {
	background: #e6c938;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}

#home .btn:hover {
	background: #fff;
	color: #d9b332;
	transition: all 0.4s ease-in-out;
}

/* about section */
#about {
	background: url('../images/about/about-bg-new.jpg') 10% 80% repeat-y fixed;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

#about .home-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#about h1 {
	color: #ffffff;
}

#about h2 {
	color: #ffffff;
	letter-spacing: 2px;
}

#about h5 {
	color: #ffffff;
}

#about .btn {
	background: #e6c938;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}

#about .btn:hover {
	background: #fff;
	color: #d9b332;
	transition: all 0.4s ease-in-out;
}

/* commitment section */
#commitment {
	background: url('../images/commitment/commitment-bg.jpg') 75% 80% repeat-y fixed;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

#commitment .home-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#commitment h1 {
	color: #ffffff;
}

#commitment h2 {
	color: #ffffff;
	letter-spacing: 2px;
}

#commitment h5 {
	color: #ffffff;
}

#commitment .btn {
	background: #e6c938;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}

#commitment .btn:hover {
	background: #fff;
	color: #d9b332;
	transition: all 0.4s ease-in-out;
}

/* commitment bio content section */

.commitment-bio {
	padding: 100px 0 20px;
}

.commitment-bio .home-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.commitment-bio .bio-inner p {
	text-align: justify;
}

.commitment-bio h1 {
	color: #ffffff;
}

.commitment-bio h2 {
	color: #ffffff;
	letter-spacing: 2px;
}

.commitment-bio h5 {
	color: #ffffff;
}

.commitment-bio-content {
	background: url('../images/commitment/michael.JPG') center / cover no-repeat;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	margin: 30px 0;
}

.commitment-bio .btn {
	background: #e6c938;
	border-radius: 4px;
	border: none;
	color: #ffffff;
	font-size: 16px;
	padding: 20px 40px;
	margin-top: 60px;
}

.commitment-bio .btn:hover {
	background: #fff;
	color: #d9b332;
	transition: all 0.4s ease-in-out;
}

/* btn learn more */
.btn-learn {
	display: block;
	margin-top: -40px;
	margin-bottom: 18px;
}

.btn-learn a {
	color: #ffffff;
	text-decoration: none;
}

/* navigation section */
.navbar-default {
	background: rgba(255, 255, 255, 0.95);
	border: none;
	box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.20);
	margin: 0 !important;
}

.navbar-default .navbar-logo {
	height: 70px;
	padding: 15px 15px 15px 0;
	margin: 0;
	cursor: pointer;
}

.navbar-default .navbar-nav li a {
	color: #606060;
	padding-right: 20px;
	padding-left: 20px;
	line-height: 40px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav li a:hover {
	color: #d9b332;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #606060;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #d9b332;
	background-color: transparent;
}

.navbar-default li span {
	font-size: 18px;
}

.navbar-default .navbar-toggle {
	border: none;
	margin-right: 0px;
	padding-top: 12px;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #e6c938;
	border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-default .btn-contact {
	background: #d9b332;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 15px;
	border: 1px solid #d9b332;
	text-transform: uppercase;
}

.navbar-default .btn-contact:hover {
	background: #fff;
	color: #d9b332;
	transition: all 0.4s ease-in-out;
	border: 1px solid #d9b332;
}

/* intro section */
#intro {
	padding-top: 120px;
	padding-bottom: 100px;
}
#intro h4 {
	padding-bottom: 16px;
}

#intro .title {
	padding-bottom: 40px;
}

#intro .title h2 {
	color: #202020;
	padding-bottom: 30px;
}

#intro .title p {
	margin: 0 auto;
	width: 60%;
	padding-top: 14px;
}

/* intro about section */
#intro-about {
	padding-top: 120px;
	padding-bottom: 100px;
}
#intro-about h4 {
	padding-bottom: 16px;
}

#intro-about .title {
	padding-bottom: 40px;
}

#intro-about .title h2 {
	color: #202020;
	padding-bottom: 30px;
}

#intro-about .title p {
	margin: 0 auto;
	width: 100%;
	padding-top: 14px;
	text-align: justify;
	font-size: 18px;
}

/* description about section */
#description-about {
	padding-top: 90px;
	padding-bottom: 100px;
}
#description-about h4 {
	padding-bottom: 16px;
}

#description-about .title {
	padding-bottom: 40px;
}

#description-about .title h2 {
	color: #202020;
	padding-bottom: 30px;
}

#description-about .title p {
	margin: 0 auto;
	width: 100%;
	padding-top: 14px;
	text-align: justify;
	font-size: 18px;
}

#description-about .title ul li {
	font-size: 18px;
	text-align: justify;
}

/* description-commitment section */
#description-commitment {
	padding-top: 60px;
	padding-bottom: 100px;
}

#description-commitment h4 {
	padding-bottom: 16px;
}

#description-commitment .title {
	padding-bottom: 40px;
	text-align: justify;
}

#description-commitment .title h3 {
	color: #202020;
	padding: 0 0px 30px 15px;
}

#description-commitment .title p {
	margin: 0 auto;
	width: 60%;
	padding-top: 14px;
}

/* work section */
#work {
	background-color: #ffffff;
}

#work .container {
	width: 100%;
	padding: 0;
	margin: 0;
}

#work .work-cards {
	display: flex;
	padding: 0 20px;
	margin-top: -75px;
}

#work .work-item {
	display: flex;
	align-items: stretch;
}

#work .title {
	padding: 60px 60px;
}

#work .bg-gray {
	border-radius: 8px;
	background-color: #6D6D6D;
	color: #ffffff;
}

#work .bg-yellow {
	border-radius: 8px;
	background-color: #d9b332;
	color: #ffffff;
}

#work .bg-white {
	border-radius: 8px;
	background-color: #E9E8E3;
	color: #d9b332;
}

#work .bg-blue {
	border-radius: 8px;
	background-color: #5D90A6;
	color: #ffffff;
}

#work h3 {
	padding: 40px 15px 20px;
}

#work p {
	padding: 10px 45px 20px;
	text-align: justify;
}

#work .fa {
	color: #ffffff;
	cursor: pointer;
	font-size: 40px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	transition: all 0.4s ease-in-out;
	margin-top: 40px;
}

#work .fa:hover {
	background-color: #ffffff;
	border-radius: 50%;
	color: #303030;
}

/* work about section */
#work-about {
	background-color: #ffffff;
}

#work-about .container {
	width: 100%;
	padding: 0;
	margin: 0;
}

#work-about .work-cards {
	display: flex;
	padding: 0 20px;
	margin-top: -75px;
}

#work-about .work-item {
	display: flex;
	align-items: stretch;
}

#work-about .title {
	padding: 60px 60px;
}

#work-about .bg-gray {
	border-radius: 8px;
	background-color: #6D6D6D;
	color: #ffffff;
}

#work-about .bg-yellow {
	border-radius: 8px;
	background-color: #d9b332;
	color: #ffffff;
}

#work-about .bg-white {
	border-radius: 8px;
	background-color: #E9E8E3;
	color: #d9b332;
}

#work-about .bg-blue {
	border-radius: 8px;
	background-color: #5D90A6;
	color: #ffffff;
}

#work-about h3 {
	font-size: 40px;
	padding: 40px 15px 20px;
}

#work-about p {
	font-size: 20px;
	padding: 10px 45px 20px;
	text-align: justify;
}

#work-about .fa {
	color: #ffffff;
	cursor: pointer;
	font-size: 40px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	transition: all 0.4s ease-in-out;
	margin-top: 40px;
}

#work-about .fa:hover {
	background-color: #ffffff;
	border-radius: 50%;
	color: #303030;
}

/* work commitment section */
#work-commitment {
	background-color: #ffffff;
}

#work-commitment .container {
	width: 100%;
	padding: 0;
	margin: 0;
}

#work-commitment .work-cards {
	display: flex;
	padding: 0 20px;
	margin-top: -75px;
}

#work-commitment .work-item {
	display: flex;
	align-items: stretch;
}

#work-commitment .title {
	padding: 60px 60px;
}

#work-commitment .bg-gray {
	border-radius: 8px;
	background-color: #6D6D6D;
	color: #ffffff;
}

#work-commitment .bg-yellow {
	border-radius: 8px;
	background-color: #d9b332;
	color: #ffffff;
}

#work-commitment .bg-white {
	border-radius: 8px;
	background-color: #E9E8E3;
	color: #d9b332;
}

#work-commitment .bg-blue {
	border-radius: 8px;
	background-color: #5D90A6;
	color: #ffffff;
}

#work-commitment h3 {
	font-size: 40px;
	padding: 40px 15px 20px;
}

#work-commitment p {
	font-size: 20px;
	padding: 10px 45px 20px;
	text-align: justify;
}

#work-commitment .fa {
	color: #ffffff;
	cursor: pointer;
	font-size: 40px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	transition: all 0.4s ease-in-out;
	margin-top: 40px;
}

#work-commitment .fa:hover {
	background-color: #ffffff;
	border-radius: 50%;
	color: #303030;
}

/* progress section */
#progress {
	padding-top: 80px;
	padding-bottom: 40px;
}
#progress h4 {
	padding-bottom: 16px;
}

/* turbocharge section */
#turbocharge {
	background-color: #ffffff;
	padding-bottom: 100px;
}
#turbocharge .container {
	width: 100%;
	padding: 0;
	margin: 0;
}
#turbocharge .title {
	padding: 60px 60px;
}
#turbocharge .bg-black {
	background-color: #303030;
	color: #ffffff;
	padding: 20px 0;
}
#turbocharge .bg-red {
	background-color: #d9b332;
	color: #ffffff;
	padding: 20px 0;

}
#turbocharge h3 {
	padding-top: 20px;
	padding-bottom: 20px;
}
#turbocharge p {
	margin: 10px 0 20px;
}
#turbocharge .fa {
	color: #ffffff;
	cursor: pointer;
	font-size: 40px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	transition: all 0.4s ease-in-out;
	margin-top: 40px;
}
#turbocharge .fa:hover {
	background-color: #ffffff;
	border-radius: 50%;
	color: #303030;
}

/* team section */
#team {
	background: #202020 url('../images/team-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;
}
#team h2 {
	color: #ffffff;
}
#team h3 {
	font-size: 20px;
	line-height: 10px;
}
#team h4 {
	color: #202020;
	line-height: 10px;
	font-weight: bold;
}
#team .team-des {
	background-color: #eb5424;
	color: #ffffff;
	padding: 20px 12px;
	position: relative;
}
#team img {
	max-width: 100%;
	height: auto;
	padding-top: 60px;
}
/* portfolio section */
#portfolio {
	padding-top: 100px;
	padding-bottom: 100px;
}
#portfolio h2 {
	line-height: 20px;
}
#portfolio h3 {
	color: #eb5424;
	padding-bottom: 60px;
}
#portfolio a {
	text-decoration: none;
}
#portfolio img {
	border-radius: 1px;
	width: 100%;
	max-width: 100%;
	height: auto;
	opacity: 0.8;
	margin-bottom: 34px;
	opacity: 0.6;
	transition: all 0.4s ease-in-out;
}
#portfolio img:hover {
	opacity: 0.9;
}
/* price section */
#price {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 120px;
}
#price .plan {
	background: #eb5424;
	color: #ffffff;
	padding: 0 0 60px 0;
}
#price .plan .plan_title {
	background-color: #f6f6f6;
	color: #202020;
	padding-top: 40px;
	padding-bottom: 40px;
}
#price .plan .plan_sub_title {
	border-bottom: 1px solid #ffffff;
	padding: 30px;
}
#price .plan ul {
	padding: 0;
}
#price .plan ul li {
	display: block;
	font-family: "Proxima";
	font-size: 16px;
	padding: 40px 0 10px 0;
}
#price .plan .btn {
	background: #ffffff;
	border: none;
	border-radius: 0;
	color: #202020;
	font-size: 16px;
	font-weight: bold;
	padding: 20px 40px;
	transition: all 0.4s ease-in-out;
	margin-top: 20px;
}
#price .plan .btn:hover {
	background: #202020;
	color: #ffffff;
}
/* google map section */
#map-canvas {
	border: none;
	width: 100%;
	height: 400px;
}
/* contact section */
#contact {
	background: #f6f6f6 url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 80px;
}
#contact h2 {
	color: #ffffff;
}
#contact .form-control {
	border-radius: 4px;
	border: none;
	box-shadow: none;
	margin-top: 12px;
	margin-bottom: 14px;
}
#contact input {
	height: 50px;
}
#contact input[type="submit"] {
	background-color: #d9b332;
	color: #ffffff;
	height: 60px;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover {
	background-color: #202020;
}
/* footer section */
footer {
	background: #202020;
	color: #ffffff;
	border-bottom: 10px solid #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}

footer h2 {
	padding-top: 40px;
	padding-bottom: 20px;
	color: #6D6D6D;
}

footer p {
	margin-top: 30px;
	line-height: 20px;
	color: #6D6D6D;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
	text-align: left;
}

footer li {
	padding: 5px 0;
	color: #6D6D6D;
}

footer li strong {
	color: #E9E8E2;
}

footer ul li a {
	color: #6D6D6D;
	text-decoration: none;
}

footer ul li a:hover {
	color: #d9b332;
	text-decoration: none;
	transition: .3s ease-in-out;
}

footer .footer-logo {
	width: 35%;
}

footer .copyright a {
	color: #d9b332;
}
.social-icon {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
.social-icon li {
	list-style: none;
	display: inline-block;
}
.social-icon li a {
	background: #f8f8f8;
	border-radius: 100%;
	color: #eb5424;
	font-size: 32px;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-decoration: none;
	transition: all 0.4s ease-in-out;
	margin: 0 6px 40px 6px;
}
.social-icon li a:hover {
	background: #080808;
}
@media screen and (max-width:980px) {
.navbar-default .navbar-nav li a {
	padding-right: 14px;
	padding-left: 14px;
	font-size: 13px;
}
#intro h2 {
	font-size: 32px;
}
#work .title {
	padding: 80px 20px 20px 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 24px;
}
}
@media (max-width:767px) {
.navbar-logo {
	padding-top: 6px;
}
}
@media (max-width:400px) {
#home h1 {
	font-size: 32px;
}
#home h2 {
	font-size: 22px;
}
#intro h2 {
	font-size: 20px;
}
.portfolio-thumb .portfolio-overlay {
	padding-top: 60px;
}
}
